doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="WA Sports")
  
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
  
    link(rel='stylesheet', href='/stylesheets/games.css')
    script(src="/javascripts/games.js")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavBar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#logo(href="/") WA Sports
        div
          .collapse.navbar-collapse#myNavBar
            ul.nav.navbar-nav
              li: a#baseballbutton(href="/baseball") Baseball
              li: a#basketballbutton(href="/basketball") Basketball
              li: a#soccerbutton(href="/soccer") Soccer
              li: a#tennisbutton(href="tennis") Tennis
              li: a#volleyballbutton(href="volleyball") Volleyball
    .container-fluid#nopaddingcontainer
      if title == "baseball"
        #upcomingeventsBaseball
      else if title == "basketball"
        #upcomingeventsBasketball
      else if title == "soccer"
        #upcomingeventsSoccer
      else if title == "tennis"
        #upcomingeventsTennis
      else if title == "volleyball"
        #upcomingeventsVolleyball
    section#games
        if title == "baseball"
            - for(var i=0; i<games.length; i++){
                if games[i].sport == "Baseball"
                    .row
                        .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
                            if games[i].team1 == "Wasatch"
                                img.teamlogo(src="/images/WAshield.jpg")
                        .col-md-2.col-xs-4
                            .gamedetails
                                .gameinfo
                                    img.sportsIcon(src="/images/baseballIcon.png")
                                    h6= games[i].time
                                    h6= games[i].place     
                          .col-md-2.col-xs-3
                            if games[i].team2 == "Wasatch"
                                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
                            else if games[i].team2 == "Utah-Military-Academy"
                                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
            - }
        if title == "soccer"
            - for(var i=0; i<games.length; i++){
                if games[i].sport == "Soccer"
                    .row
                        .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
                            if games[i].team1 == "Wasatch"
                                img.teamlogo(src="/images/WAshield.jpg")
                        .col-md-2.col-xs-4
                            .gamedetails
                                .gameinfo
                                    img.sportsIcon(src="/images/soccerIcon.png")
                                    h6= games[i].time
                                    h6= games[i].place     
                          .col-md-2.col-xs-3
                            if games[i].team2 == "Wasatch"
                                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
                            else if games[i].team2 == "Utah-Military-Academy"
                                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
            - }
        if title == "basketball"
            - for(var i=0; i<games.length; i++){
                if games[i].sport == "Basketball"
                    .row
                        .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
                            if games[i].team1 == "Wasatch"
                                img.teamlogo(src="/images/WAshield.jpg")
                        .col-md-2.col-xs-4
                            .gamedetails
                                .gameinfo
                                    img.sportsIcon(src="/images/basketballIcon.png")
                                    h6= games[i].time
                                    h6= games[i].place     
                          .col-md-2.col-xs-3
                            if games[i].team2 == "Wasatch"
                                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
                            else if games[i].team2 == "Utah-Military-Academy"
                                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
            - }    
        if title == "tennis"
            - for(var i=0; i<games.length; i++){
                if games[i].sport == "Tennis"
                    .row
                        .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
                            if games[i].team1 == "Wasatch"
                                img.teamlogo(src="/images/WAshield.jpg")
                        .col-md-2.col-xs-4
                            .gamedetails
                                .gameinfo
                                    img.sportsIcon(src="/images/tennisIcon.png")
                                    h6= games[i].time
                                    h6= games[i].place     
                          .col-md-2.col-xs-3
                            if games[i].team2 == "Wasatch"
                                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
                            else if games[i].team2 == "Utah-Military-Academy"
                                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
            - }
        if title == "volleyball"
            - for(var i=0; i<games.length; i++){
                if games[i].sport == "Volleyball"
                    .row
                        .col-md-2.col-md-offset-3.col-xs-3.col-xs-offset-1
                            if games[i].team1 == "Wasatch"
                                img.teamlogo(src="/images/WAshield.jpg")
                        .col-md-2.col-xs-4
                            .gamedetails
                                .gameinfo
                                    img.sportsIcon(src="/images/volleyballIcon.png")
                                    h6= games[i].time
                                    h6= games[i].place     
                          .col-md-2.col-xs-3
                            if games[i].team2 == "Wasatch"
                                img.teamLogo.rightlogo(src="/images/WAshield.jpg") 
                            else if games[i].team2 == "Utah-Military-Academy"
                                img.teamlogo.rightlogo(src="/images/Utah-Military-Academy.jpg")
                                
            - }  